    <% if !notification.user.is_administrator %>
      <%= link_to user_path(notification.user.username) do %>
        <%= notification.user.display_name %><span class="text-body">さん</span><!--
   --><% end %><!--
 --><% else %><!--
   -->管理者<!--
 --><% end %><!--
 -->からタイムライン<!--
 --><%= link_to timeline_path(notification.timeline.timelinename) do %><!--
   -->"@<%= notification.timeline.timelinename %>"(<%= notification.timeline.display_name %>)<!--
 --><% end %><!--
 -->の譲渡が申請されました。
    <div class="d-flex mt-2">
      <div class="ml-auto">
        <%= link_to response_timeline_transfer_path(notification.id), method: :delete, class: "btn btn-danger px-3 py-1" do %>
          <i class="fas fa-times"></i> 却下
        <% end %>
      </div>
      <div class="ml-4">
        <%= link_to response_timeline_transfer_path(notification.id), method: :post, class: "btn btn-success px-3 py-1" do %>
          <i class="fas fa-check"></i> 承諾
        <% end %>
      </div>
    </div>
