    <% if !notification.user.is_administrator %>
      <%= link_to user_path(notification.user.username) do %>
        <%= notification.user.display_name %><span class="text-body">さん</span><!--
   --><% end %><!--
 --><% else %><!--
   -->管理者<!--
 --><% end %><!--
 -->がタイムライン<!--
 --><%= link_to timeline_path(notification.timeline.timelinename) do %><!--
   -->"@<%= notification.timeline.timelinename %>"(<%= notification.timeline.display_name %>)<!--
 --><% end %><!--
 -->の管理者権限の譲渡を承諾しました。