<div class="container-fluid">
  <div class="row">
    <div class="col-0 col-md-3 col-lg-2"></div>
    <div class="col-12 col-md-9 col-lg-7 mt-3">
      <div class="sticky-top bg-white border-bottom mb-3">
        <%= render "layouts/header-links" %>
        <div class="d-flex">
          <div>
            <h3><strong>通知</strong></h3>
          </div>
          <div class="ml-auto">
            <a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#notificationdeletemodal">
              通知を全部消す
            </a>
          </div>
        </div>
      </div>

      <div class="nad-list-group">
        <% @notifications.each do |notify| %>
          <div class="nad-list-item">
            <%= render "notifications/header", notification: notify %>
            <div class="d-flex mt-2">
              <div class="">
                <% if notify.user.is_administrator %>
                <% else %>
                  <%= attachment_image_tag notify.user, :profile_image, :fill, 40, 40, format: "png", size: "40x40", fallback: "user_profile_default.png", class: "rounded-circle nbs-cursor-grab" %>
                <% end %>
              </div>
              <div class="ml-2">
                <% if notify.action == "TimelineTransferRequest" %>
                  <%= render "notifications/timeline-transfer-request", notification: notify %>
                <% elsif notify.action == "TimelineTransferAccept" %>
                  <%= render "notifications/timeline-transfer-accept", notification: notify %>
                <% elsif notify.action == "TimelineTransferReject" %>
                  <%= render "notifications/timeline-transfer-reject", notification: notify %>
                <% elsif notify.action == "TimelineTransferred" %>
                  <%= render "notifications/timeline-transferred", notification: notify %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-0 col-lg-3"></div>
  </div>
</div>

<div class="modal fade" id="notificationdeletemodal" tabindex="-1" role="dialog" aria-labelledby="notificationdeletemodaltitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationdeletemodaltitle">確認</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        今までの通知を全て削除します。<br>
        タイムラインの譲渡申請は削除されません。
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ちょっとまって</button>
        <%= link_to "消す", notifications_path, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
