<div class="container-fluid">
  <div class="row">
    <div class="col-0 col-md-3 col-lg-2"></div>
    <div class="col-12 col-md-9 col-lg-7 mt-3">
      <%= render "layouts/header/edit", hl: "ユーザー設定", id: @user.username, link: edit_user_path(@user.username) %>
      <p class="alert alert-danger mb-4">
        以下の設定は危険性を伴う設定(破壊的な設定)があります。<br>
        危険性を理解した上で変更を行ってください。
      </p>

      <div class="pl-1 mb-3">
        <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#usernameedit" aria-controls="usernameedit" aria-expanded=<%= @opened_username %>>
          ユーザーネームの変更
        </button>
      </div>
      <div class="collapse<%= " show" if @opened_username == "true" %>" id="usernameedit">
        <h3>ユーザーネームの変更</h3>
        <div class="alert alert-warning mb-1">
          ユーザーネームは、各ユーザーを識別するための名前です。<br>
          ユーザーネームの変更は次のような危険性があります。
          <ul>
            <li>あなたのプロフィールに遷移するURLが変わります。以前のURLは機能しなくなります。</li>
            <li>変更前のユーザーネームが他のユーザーで使用された場合、その名前に戻せなくなります。</li>
          </ul>
        </div>
        <div class="alert alert-info">
          ユーザーネームの変更は以下のデータには影響しません。
          <ul>
            <li>投稿</li>
            <li>タイムラインの管理者権限</li>
            <li>フォロー/フォロワー</li>
            <li>なで/なでられ</li>
          </ul>
        </div>
        <%= form_with model: @user, url: dangerupdate_user_path(@correct_username), class: "mb-5", local: true do |f| %>
          <div class="form-group">
            <%= f.label :username %>
            <%= render "layouts/error/each", model: @user, symbol: :username %>
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "ユーザーネームを変更する", class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>

      <div class="pl-1 mb-3">
        <button class="btn btn-outline-danger" type="button" data-toggle="collapse" data-target="#userdelete" aria-controls="userdelete" aria-expanded="false">
          ユーザーの削除
        </button>
      </div>
      <div class="collapse" id="userdelete">
        <h3>ユーザーの削除</h3>
        <div class="alert alert-danger">
          ユーザーを削除します。<br>
          ユーザーを削除すると以下のデータも同様に削除されます。
          <ul>
            <li>今まで投稿してきた全ての投稿</li>
            <li>作成したタイムライン</li>
            <li>フォロー/フォロワー</li>
            <li>なで/なでられ</li>
          </ul>
          <b>ユーザーの復元はできません。</b><br>
        </div>
        <div class="alert alert-danger">
          <b>作成したタイムラインも同様に削除されます。</b><br>
          <b>タイムラインの管理者権限は他のユーザーまたはなでりーの管理者に譲渡できます。</b><br>
          管理者権限を譲渡した場合は、タイムラインの削除は行われません。<br>
          以下のタイムラインが削除されます。
          <ul>
            <% @user.timelines.each do |timeline| %>
              <li class="text-break">@<%= timeline.timelinename %> (<%= timeline.display_name %>)</li>
            <% end %>
          </ul>
        </div>

        <div>
          <p class="btn btn-secondary mb-0">作成した全タイムラインを管理者に譲渡してユーザーを削除する</p>
        </div>
        <div class="mt-1">
          <p class="btn btn-secondary mt-1">ユーザーを削除する</p>
        </div>
      </div>

      <div class="mt-5">
        <%= link_to "プロフィール編集に戻る", edit_user_path(@user.username), class: "btn btn-success" %>
      </div>
    </div>
    <div class="col-0 col-lg-3"></div>
  </div>
</div>
