<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7 mt-3">
      <div class="d-flex sticky-top bg-white pb-2 border-bottom mb-3">
        <div class="align-self-center">
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "png", size: "100x100", fallback: "user_profile_default", class: "rounded-circle nbs-cursor-grab" %>
        </div>
        <div class="ml-2 align-self-center">
          <p class="mb-0 h5"><b><%= @user.display_name %></b></p>
          <p class="mb-0 text-black-50"><small>@<%= @user.username %></small></p>
        </div>
        <% if user_signed_in? && @user.id == current_user.id %>
        <div class="align-self-center ml-auto mr-2">
          <%= link_to edit_user_path(@user.username), class: "text-secondary", "title" => "編集する" do %>
            <i class="fas fa-pen fa-lg"></i>
          <% end %>
        </div>
        <% end %>
      </div>

      <div class="border-bottom mb-3">
        <p><%= show_raw_text(@user.introduction) %></p>
      </div>

      <%= render "layouts/cries", cries: @user.cries.order(created_at: :desc), show_timeline: true %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
