<% is_cried_user = (user_signed_in? && @cry.user_id == current_user.id) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-0 col-md-3 col-lg-2"></div>
    <div class="col-12 col-md-9 col-lg-7 mt-3">

      <div class="sticky-top bg-white border-bottom mb-3">
        <%= render "layouts/header-links" %>
        <div class="d-flex">
          <% if @prev_page == "tl" %>
            <div class="align-self-center pb-2">
              <%= link_to timeline_path(@cry.timeline.timelinename), class: "text-secondary", "title" => "戻る" do %>
                <i class="fas fa-long-arrow-alt-left fa-lg fa-fw"></i>
              <% end %>
            </div>
          <% elsif @prev_page == "u" %>
            <div class="align-self-center pb-2">
              <%= link_to user_path(@cry.user.username), class: "text-secondary", "title" => "戻る" do %>
                <i class="fas fa-long-arrow-alt-left fa-lg fa-fw"></i>
              <% end %>
            </div>
          <% elsif @prev_page == "home" && user_signed_in? %>
            <div class="align-self-center pb-2">
              <%= link_to home_path, class: "text-secondary", "title" => "戻る" do %>
                <i class="fas fa-long-arrow-alt-left fa-lg fa-fw"></i>
              <% end %>
            </div>
          <% end %>
          <div class="align-self-center ml-2">
            <h3><strong>詳細</strong></h3>
          </div>
        </div>
      </div>

      <div class="nad-list-group">
        <div class="nad-list-item p-3">

          <div class="d-flex flex-nowrap">
            <div>
              <%= attachment_image_tag @cry.user, :profile_image, :fill, 50, 50, format: "png", size: "50x50", fallback: "user_profile_default.png", class: "rounded-circle nbs-cursor-grab" %>
            </div>
            <div class="ml-2 pt-1">
              <p class="mb-0 text-break">
                <b><%= @cry.user.display_name %></b>
              </p>
              <p class="mb-0">
                <%= link_to user_path(@cry.user.username), class: "text-black-50" do %>
                  <small>@<%= @cry.user.username %></small>
                <% end %>
              </p>
            </div>
          </div>
          <div class="mt-2 nad-cry-body text-break">
            <%= show_raw_text(@cry.body) %>
          </div>

          <% if !@cry.is_personal %>
          <div class="mt-3 text-break">
            <%= link_to timeline_path(@cry.timeline.timelinename), class: "d-inline-block blockquote-footer text-black-50" do %>
              <small>
                <%= @cry.timeline.display_name %> @<%= @cry.timeline.timelinename %>
              </small>
            <% end %>
          </div>
          <% end %>
          <div class="mt-3">
            <div class="d-flex text-center">
              <div class="flex-fill"></div>
              <div class="flex-fill"></div>
              <div class="flex-fill">
                <span id="pet_button_<%= @cry.id %>">
                  <%= render "layouts/button/pet", cry: @cry %>
                </span>
                <% if !(user_signed_in?) %>
                  <span class="nad-cry-link-disabled">なで</span>
                <% elsif @cry.user_id == current_user.id %>
                  <a href="#" data-toggle="modal" data-target="#crypetnummodal">なで</a>
                <% else %>
                  <span class="nad-cry-link-nade">なで</span>
                <% end %>
              </div>
              <div class="flex-fill">
                <% if is_cried_user %>
                  <a href="#" class="text-danger text-decoration-none" data-toggle="modal" data-target="#crydeletemodal">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                <% else %>
                  <span class="nad-cry-link-disabled" title="他の人の投稿は消せないよ">
                    <i class="fas fa-times"></i>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-0 col-lg-3"></div>
  </div>
</div>
<% if is_cried_user %>
  <div class="modal fade" id="crypetnummodal" tabindex="-1" role="dialog" aria-labelledby="crypetnummodaltitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="crypetnummodaltitle">なでてくれた人たち</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="nad-list-group">
            <% if @cry.pets.count > 0 %>
              <% @cry.pets.each do |pet| %>
                <div class="nad-list-item">
                  <div class="d-flex">
                    <div class="align-self-center">
                      <%= attachment_image_tag pet.user, :profile_image, :fill, 40, 40, format: "png", size: "40x40", fallback: "user_profile_default.png", class: "rounded-circle nad-cursor-grab" %>
                    </div>
                    <div class="align-self-center ml-2">
                      <p class="mb-0 text-break"><%= pet.user.display_name %></p>
                      <p class="mb-0 text-black-50 text-break"><small>@<%= pet.user.username %></small></p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <div class="nad-list-item">
                <p>のんびりゆっくりね</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if is_cried_user %>
<div class="modal fade" id="crydeletemodal" tabindex="-1" role="dialog" aria-labelledby="crydeletemodaltitle" aria-hidden="true">
<% else %>
<div class="modal fade" id="crydeletemodal" tabindex="-1" role="dialog" aria-labelledby="crydeletemodaltitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
<% end %>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crydeletemodaltitle">
          <% if is_cried_user %>
            確認
          <% else %>
            ...。
          <% end %>
        </h5>
        <% if is_cried_user %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% end %>
      </div>
      <% if is_cried_user %>
      <div class="modal-body">
        この投稿を削除します。<br/>
        削除した投稿は元に戻せません。<br/>
        よろしいですか？
      </div>
      <% end %>
      <div class="modal-footer">
        <% if is_cried_user %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ちょっと待って</button>
          <%= link_to "消す", cry_path(@cry.id, prev: @prev_page), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ごめんなさい</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
