<% is_available_private_cry = (user_signed_in? && @can_post_private_cry) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-0 col-md-3 col-lg-2"></div>
    <div class="col-12 col-md-9 col-lg-7 mt-3">
      <%= render "layouts/header/common", hl: "ホーム" %>

      <% if @cries.count == 0 %>
        <div class="mt-2">
          自分の投稿やフォローしたユーザー、タイムラインがここに表示されます。
        </div>
      <% end %>

      <div class=<%= "nad-cryform-space" if is_available_private_cry %>>
        <%= render "layouts/cries", cries: @cries, show_timeline: true, previous_page_type: "home" %>
      </div>

      <% if is_available_private_cry %>
      <div class="nad-cryform bg-white py-2">
        <%= render "layouts/error/each", model: @cry, symbol: :body %>
        <%= form_with model: @cry, url: private_cries_path, local: true do |f| %>
          <%= f.text_area :body, class: "form-control nbs-resize-none", rows: 4, placeholder: "" %>
          <div class="d-flex">
            <div class="text-black-50">
              ホーム投稿
            </div>
            <div class="ml-auto">
              <%= button_tag type: "submit", class: "btn btn-primary", "title" => "投稿する" do %>
                <i class="fas fa-paper-plane fa-lg"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-0 col-lg-3"></div>
  </div>
</div>
