<% if !(user_signed_in?) || cry.user_id == current_user.id %>
  <span class="nad-cry-link-disabled">
    <i class="far fa-hand-lizard fa-fw"></i> <%= cry.pets.count %>
  </span>
<% elsif cry.petted_by?(current_user) %>
  <span class="nad-cry-link-nade">
    <%= link_to cry_pets_path(cry.id), method: :delete, class: "text-decoration-none", remote: true do %>
      <i class="fas fa-hand-lizard fa-fw"></i>
    <% end %>
    <%= cry.pets.count %>
  </span>
<% else %>
  <span class="nad-cry-link-nade">
    <%= link_to cry_pets_path(cry.id), method: :post, remote: true, class: "text-decoration-none", "title" => "なでる" do %>
      <i class="far fa-hand-lizard fa-fw"></i>
    <% end %>
    <%= cry.pets.count %>
  </span>
<% end %>