<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7 mt-3">
      <%= render "layouts/header/edit", hl: "タイムライン編集", id: @timeline.timelinename, link: timeline_path(@timeline.timelinename) %>
      <%= form_with model: @timeline, url: update_timeline_path(@timeline.timelinename), local: true do |f| %>
        <div class="form-group">
          <%= f.label :display_name, "表示名" %>
          <%= f.text_field :display_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :introduction, "概要" %>
          <%= f.text_area :introduction, rows: 10, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= link_to "やっぱやめる", timeline_path(@timeline.timelinename), class: "btn btn-secondary" %>
          <%= f.submit "これにする", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
