<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7 mt-3">
      <%= render 'layouts/header/common', hl: "タイムラインを作成する" %>
      <%= form_with model: @timeline, local: true do |f| %>
        <div class="form-group">
          <%= f.label :timelinename %>
          <a data-toggle="collapse" href="#timelinename_desc" role="button" aria-expanded="false" aria-controls="timelinename_desc"><i class="far fa-question-circle fa-lg"></i></a>
          <div class="collapse" id="timelinename_desc">
            <div class="alert alert-info">
              タイムラインネームは、ユーザーネームと同じようにタイムラインを識別するための名前です。<br>
              以下の条件を満たす必要があります。
              <ul>
                <li>英数字とアンダーバーだけ使うこと (空白も使えません)</li>
                <li>4文字以上20文字まで</li>
                <li>他のタイムラインネームと被っていないこと</li>
              </ul>
            </div>
          </div>
          <%= render "layouts/error/each", model: @timeline, symbol: :timelinename %>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend"><div class="input-group-text">@</div></div>
            <%= f.text_field :timelinename, autocomplete: "timelinename", class: "form-control", "value" => @randomname %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :display_name %>
          <%= render "layouts/error/each", model: @timeline, symbol: :display_name %>
          <%= f.text_field :display_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= link_to "やっぱやめる", timelines_path, class: "btn btn-secondary" %>
          <%= f.submit "タイムラインを作る", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
