<% is_timeline_admin = (user_signed_in? && @timeline.user_id == current_user.id) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-0 col-md-3 col-lg-2"></div>
    <div class="col-12 col-md-9 col-lg-7 mt-3">
      <div class="sticky-top bg-white border-bottom pb-2 mb-2">
        <%= render "layouts/header-links" %>
        <div class="d-flex">
          <div class="align-self-center">
            <p class="mb-0 h5 text-break"><b><%= @timeline.display_name %></b></p>
            <p class="mb-0 text-black-50 text-break"><small>@<%= @timeline.timelinename %></small></p>
          </div>
          <div class="align-self-center ml-auto d-flex">
            <% if user_signed_in? %>
              <div class="align-self-center nbs-flex-text-nowrap" id="timeline_follow_button_<%= @timeline.timelinename %>">
                <%= render "layouts/button/timeline_follow", timeline: @timeline %>
              </div>
            <% end %>
            <% if is_timeline_admin %>
              <div class="align-self-center ml-3">
                <%= link_to edit_timeline_path(@timeline.timelinename), class: "text-secondary", "title" => "編集する" do %>
                  <i class="fas fa-pen fa-lg"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="border-bottom mb-3">
        <div class="d-flex mb-1">
          <div class="align-self-center nbs-flex-text-nowrap">
            管理者:
          </div>
          <% if @timeline.user.is_administrator %>
            <div class="align-self-center ml-2">
              <%= image_tag("logout_user_profile.png", size: "30x30", class: "rounded-circle") %>
            </div>
            <div class="align-self-center ml-2">
              <small>
                <span class="text-break text-muted"><b>システムまたは削除により未定</b></span>
              </small>
            </div>
          <% else %>
            <div class="align-self-center ml-2">
              <%= attachment_image_tag @timeline.user, :profile_image, :fill, 30, 30, format: "png", size: "30x30", fallback: "user_profile_default.png", class: "rounded-circle nbs-cursor-grab" %>
            </div>
            <div class="align-self-center ml-2">
              <small>
                <span class="text-break<%= " text-muted" if @timeline.is_transferring %>"><b><%= @timeline.user.display_name %></b></span>
                <%= link_to user_path(@timeline.user.username), class: "text-black-50" do %>@<%= @timeline.user.username %><% end %>
              </small>
            </div>
          <% end %>
        </div>
        <p>
          <% if @timeline.introduction.present? %>
            <span class="text-break">
              <%= show_raw_text(@timeline.introduction) %>
            </span>
          <% else %>
            <span class="text-black-50"><small>
              (概要はまだ書いてる途中かも...)
              <% if is_timeline_admin %>
              <br>Tips: 右上にある<i class="fas fa-pen"></i>で概要を追加できるよ！ (←この文は他の人からは見えないから安心してね)
              <% end %>
            </small></span>
          <% end %>
        </p>
      </div>

      <div class="<%= "nad-cryform-space" if user_signed_in? %>">
        <%= render "layouts/cries", cries: @cries, show_timeline: false, previous_page_type: "tl" %>
        <%= paginate @cries %>
      </div>

      <% if user_signed_in? %>
      <div class="nad-cryform bg-white py-2">
        <%= render "layouts/error/each", model: @cry, symbol: :body %>
        <%= form_with model: @cry, url: public_cries_path(@timeline.timelinename), local: true do |f| %>
          <%= f.text_area :body, class: "form-control nbs-resize-none", rows: 4, placeholder: "" %>
          <div class="d-flex">
            <div class="text-black-50">
              タイムライン投稿: @<%= @timeline.timelinename %>
            </div>
            <div class="ml-auto">
              <%= button_tag type: "submit", class: "btn btn-primary", "title" => "投稿する" do %>
                <i class="fas fa-paper-plane fa-lg"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-0 col-lg-3"></div>
  </div>
</div>
