<% is_timeline_admin = (user_signed_in? && @timeline.user_id == current_user.id) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-7 mt-3">
      <div class="d-flex bg-white sticky-top border-bottom pb-2 mb-3">
        <div class="align-self-center">
          <p class="mb-0 h5"><b><%= @timeline.display_name %></b></p>
          <p class="mb-0 text-black-50"><small>@<%= @timeline.timelinename %></small></p>
        </div>
        <div class="align-self-center ml-auto d-flex">
          <% if user_signed_in? %>
            <div class="align-self-center", id="timeline_follow_button_<%= @timeline.timelinename %>">
              <%= render "layouts/button/timeline_follow", timeline: @timeline %>
            </div>
          <% end %>
          <% if is_timeline_admin %>
            <div class="align-self-center ml-3">
              <%= link_to edit_timeline_path(@timeline.timelinename), class: "text-secondary", "title" => "編集する" do %>
                <i class="fas fa-pen fa-lg"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="border-bottom mb-3">
        <p>
          <% if @timeline.introduction.present? %>
            <%= show_raw_text(@timeline.introduction) %>
          <% else %>
            <span class="text-black-50"><small>
              (概要はまだ書いてる途中かも...)
              <% if is_timeline_admin %>
              <br>Tips: 右上にある<i class="fas fa-pen"></i>で概要を追加できるよ！ (←この文は他の人からは見えないから安心してね)
              <% end %>
            </small></span>
          <% end %>
        </p>
      </div>

      <div class=<%= "nad-cryform-space" if user_signed_in? %>>
        <%= render "layouts/cries", cries: @timeline.cries.order(created_at: :desc), show_timeline: false, previous_page_type: "tl" %>
      </div>

      <% if user_signed_in? %>
      <div class="nad-cryform bg-white py-2">
        <%= form_with model: @cry, url: public_cries_path(@timeline.timelinename), local: true do |f| %>
          <%= f.text_area :body, class: "form-control nbs-resize-none", rows: 4, placeholder: "" %>
          <div class="d-flex">
            <div class="text-black-50">
              タイムライン投稿: @<%= @timeline.timelinename %>
            </div>
            <div class="ml-auto">
              <%= button_tag type: "submit", class: "btn btn-primary", "title" => "投稿する" do %>
                <i class="fas fa-paper-plane fa-lg"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
