<div class="nad-cries-container">
  <% cries.each do |cry| %>
    <div class="nad-cry p-3">
      <div class="d-flex flex-nowrap">
        <div>
          <%= attachment_image_tag cry.user, :profile_image, :fill, 50, 50, format: "png", size: "50x50", fallback: "user_profile_default.png", class: "rounded-circle nbs-cursor-grab" %>
        </div>
        <div class="ml-2 pt-1">
          <p class="mb-0">
            <b><%= advanced_truncated(cry.user.display_name, 50) %></b>
          </p>
          <p class="mb-0">
            <%= link_to user_path(cry.user.username), class: "text-black-50" do %>
              <small>@<%= cry.user.username %></small>
            <% end %>
          </p>
        </div>
      </div>
      <div class="mt-2 nad-cry-body">
        <%= show_raw_text(cry.body) %>
      </div>
      <% if show_timeline && cry.timeline_id > 0 %>
      <div class="mt-3">
        <%= link_to timeline_path(cry.timeline.timelinename), class: "d-inline-block blockquote-footer text-black-50" do %>
          <small>
            <%= cry.timeline.display_name %> @<%= cry.timeline.timelinename %>
          </small>
        <% end %>
      </div>
      <% end %>
      <div class="mt-3">
        <div class="d-flex text-center">
          <div class="flex-fill"></div>
          <div class="flex-fill"></div>
          <div class="flex-fill">
            <div id="pet_button_<%= cry.id %>">
              <%= render "layouts/button/pet", cry: cry %>
            </div>
          </div>
          <div class="flex-fill">
            <%= link_to cry_path(cry.id, prev: previous_page_type), class: "nad-cry-link", "title" => "詳細ページを開く" do %>
              <i class="fas fa-external-link-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
