<div class="col-md-3 col-lg-2 position-absolute nad-sidebar-nav pt-3">
  <ul class="nav flex-column">

    <!-- ホーム -->
    <li class="nav-item">
      <h3 class="text-primary">なでりー</h3>
    </li>
    <li class="nav-item">
      <% if controller_name == "homes" && action_name == "main" %>
        <span class="nav-link text-muted">
          <i class="fas fa-home fa-lg fa-fw"></i> ホーム
        </span>
      <% else %>
        <%= link_to home_path, class: "nav-link" do %>
          <i class="fas fa-home fa-lg fa-fw"></i> ホーム
        <% end %>
      <% end %>
    </li>


    <!-- タイムライン -->
    <li class="nav-item">
      <% if controller_name == "timelines" && action_name == "index" %>
        <span class="nav-link text-muted">
          <i class="fas fa-bezier-curve fa-lg fa-fw"></i> タイムライン
        </span>
      <% else %>
        <%= link_to timelines_path, class: "nav-link" do %>
          <i class="fas fa-bezier-curve fa-lg fa-fw"></i> タイムライン
        <% end %>
      <% end %>

      <ul class="nav flex-column ml-3">
        <li class="nav-item">
          <% if controller_name == "timelines" && action_name == "followed" %>
            <span class="nav-link text-muted">
              <i class="fas fa-thumbtack fa-fw"></i> フォロー中
            </span>
          <% else %>
            <%= link_to followed_timelines_path, class: "nav-link" do %>
              <i class="fas fa-thumbtack fa-fw"></i> フォロー中
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <% if controller_name == "timelines" && action_name == "managed" %>
            <span class="nav-link text-muted">
              <i class="fas fa-tasks fa-fw"></i> 管理中
            </span>
          <% else %>
            <%= link_to managed_timelines_path, class: "nav-link" do %>
              <i class="fas fa-tasks fa-fw"></i> 管理中
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <% if controller_name == "timelines" && (action_name == "new" || action_name == "create") %>
            <span class="nav-link text-muted">
              <i class="fas fa-plus fa-fw"></i> タイムライン作成
            </span>
          <% else %>
            <%= link_to new_timeline_path, class: "nav-link" do %>
              <i class="fas fa-plus fa-fw"></i> タイムライン作成
            <% end %>
          <% end %>
        </li>
      </ul>
    </li>


    <!-- 検索 -->
    <li class="nav-item">
      <% if controller_name != "searches" %>
        <%= link_to search_path, class: "nav-link" do %>
          <i class="fas fa-search fa-lg fa-fw"></i> 検索
        <% end %>
      <% else %>
        <span class="nav-link text-muted">
          <i class="fas fa-search fa-lg fa-fw"></i> 検索
        </span>
      <% end %>
    </li>


  </ul>


  <div class="d-none d-md-block d-lg-none">
    <div class="position-absolute nad-sidebar-bottom nad-list-group mb-0">
      <div class="">
        <div class="d-flex bg-white nad-list-item mx-2 dropdown">
          <div class="align-self-center">
            <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, format: "png", size: "50x50", fallback: "user_profile_default.png", class: "rounded-circle nbs-cursor-grab" %>
          </div>
          <div class="ml-2 align-self-center">
            <p class="mb-0 text-break"><%= current_user.display_name %></p>
            <p class="mb-0 text-black-50 text-break"><small>@<%= current_user.username %></small></p>
          </div>
          <a id="userlinkdropdown" href="#" class="dropdown-toggle stretched-link text-white d-inlink-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu" aria-labelledby="userlinkdropdown">
            <% unless controller_name == "users" && action_name == "show" && @user.id == current_user.id %>
              <%= link_to user_path(current_user.username), class: "dropdown-item" do %>
                <i class="fas fa-user fa-lg fa-fw"></i> プロフィール
              <% end %>
            <% end %>
            <% unless controller_name == "users" && action_name == "edit" %>
              <%= link_to edit_user_path(current_user.username), class: "dropdown-item" do %>
                <i class="fas fa-user-edit fa-lg fa-fw"></i> プロフィール編集
              <% end %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% unless controller_name == "users" && action_name == "following" %>
              <%= link_to following_users_path, class: "dropdown-item" do %>
                <i class="fas fa-user-check fa-lg fa-fw"></i> フォロー中のユーザー
                </span>
              <% end %>
              <div class="dropdown-divider"></div>
            <% end %>
            <% unless controller_name == "notifications" %>
              <%= link_to notifications_path, class: "dropdown-item" do %>
                <span class="d-flex">
                  <span class="align-self-center">
                    <i class="fas fa-bell fa-lg fa-fw"></i> 通知
                  </span>
                  <% if current_user.notifications_any? %>
                  <span class="align-self-center ml-auto">
                    <span class="badge badge-pill badge-primary">!</span>
                  </span>
                  <% end %>
                </span>
              <% end %>
              <div class="dropdown-divider"></div>
            <% end %>
            <a href="#" class="dropdown-item text-danger" data-toggle="modal" data-target="#logoutmodal">
              <i class="fas fa-sign-out-alt fa-lg fa-fw"></i> ログアウト
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
