<div class="col-3 position-absolute nbs-css-sidebaruser pt-3">
  <div class="d-flex flex-column">
    <!-- フラッシュメッセージ -->
    <div id="flash-message">
      <%= render "layouts/misc/flash" %>
    </div>
    <!-- アカウント表示 -->
    <div class="d-flex">
      <div class="align-self-center">
        <% if user_signed_in? %>
          <%= attachment_image_tag current_user, :profile_image, :fill, 75, 75, format: "png", size: "75x75", fallback: "user_profile_default.png", class: "rounded-circle nbs-cursor-grab" %>
        <% else %>
          <%= image_tag("logout_user_profile.png", size: "75x75", class: "rounded-circle") %>
        <% end %>
      </div>
      <div class="ml-2 align-self-center">
        <% if user_signed_in? %>
          <p class="mb-1 text-break"><%= current_user.display_name %></p>
          <p class="mb-0 text-black-50 text-break"><small>@<%= current_user.username %></small></p>
        <% else %>
          <p class="mb-0">ログインしてないよ</p>
        <% end %>
      </div>
    </div>
    <!-- アカウント関係の各種リンク -->
    <div class="mt-3">
      <ul class="nav flex-column">
        <% if user_signed_in? %>
          <li class="nav-item">
            <% if controller_name == "users" && action_name == "show" && @user.id == current_user.id %>
              <span class="nav-link text-muted">
                <i class="fas fa-user fa-lg fa-fw"></i> プロフィール
              </span>
            <% else %>
              <%= link_to user_path(current_user.username), class: "nav-link" do %>
                <i class="fas fa-user fa-lg fa-fw"></i> プロフィール
              <% end %>
            <% end %>
          </li>
          <li class="nav-item">
            <% if controller_name == "users" && action_name == "edit" %>
              <span class="nav-link text-muted">
                <i class="fas fa-user-edit fa-lg fa-fw"></i> プロフィール編集
              </span>
            <% else %>
              <%= link_to edit_user_path(current_user.username), class: "nav-link" do %>
                <i class="fas fa-user-edit fa-lg fa-fw"></i> プロフィール編集
              <% end %>
            <% end %>
          </li>

          <li class="nav-item mt-4">
            <% if controller_name == "users" && action_name == "following" %>
              <span class="nav-link text-muted">
                <i class="fas fa-user-check fa-lg fa-fw"></i> フォロー中のユーザー
              </span>
            <% else %>
              <%= link_to following_users_path, class: "nav-link" do %>
                <i class="fas fa-user-check fa-lg fa-fw"></i> フォロー中のユーザー
                </span>
              <% end %>
            <% end %>
          </li>

          <li class="nav-item mt-4">
            <% if controller_name == "notifications" %>
              <span class="nav-link text-muted">
                <i class="fas fa-bell fa-lg fa-fw"></i> 通知
              </span>
            <% else %>
              <%= link_to notifications_path, class: "nav-link" do %>
                <span class="d-flex">
                  <span class="align-self-center">
                    <i class="fas fa-bell fa-lg fa-fw"></i> 通知
                  </span>
                  <% if current_user.notifications_any? %>
                  <span class="align-self-center ml-auto">
                    <span class="badge badge-pill badge-primary">!</span>
                  </span>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- ログイン/ログアウトなどのリンク -->
    <div class="position-absolute nbs-css-sidebaruser-danger-links">
      <ul class="nav flex-column">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a href="#" class="nav-link text-danger" data-toggle="modal" data-target="#logoutmodal">
              <i class="fas fa-sign-out-alt fa-lg fa-fw"></i> ログアウト
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <% if controller_name != "registrations" %>
              <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="fas fa-user-plus fa-lg fa-fw"></i> アカウント作成
              <% end %>
            <% else %>
              <span class="nav-link text-muted">
                <i class="fas fa-user-plus fa-lg fa-fw"></i> アカウント作成
              </span>
            <% end %>
          </li>
          <li class="nav-item">
            <% if controller_name != "sessions" %>
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fas fa-sign-in-alt fa-lg fa-fw"></i> ログイン
              <% end %>
            <% else %>
              <span class="nav-link text-muted">
                <i class="fas fa-sign-in-alt fa-lg fa-fw"></i> ログイン
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>