<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>なでりー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <% if controller_name != "homes" || action_name == "main" %>
    <nav>
      <div class="container-fluid nbs-css-navcontainer">
        <div class="row position-relative">
          <% if user_signed_in? %>
            <%= render "layouts/sidebar-nav-login" %>
          <% else %>
            <%= render "layouts/sidebar-nav-logout" %>
          <% end %>
          <%= render "layouts/sidebar-userinfo" %>
        </div>
      </div>
      <%= render "layouts/modallogout" %>
    </nav>
    <% end %>
  </body>
</html>
