<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>なでりー</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <% if controller_name != "homes" || (action_name == "main" || action_name == "adminimain") %>
    <nav>
      <div class="container-fluid nad-nav-container">
        <div class="row position-relative">
          <div class="d-none d-md-block">
            <% if user_signed_in? %>
              <%= render "layouts/sidebar-nav-login" %>
            <% else %>
              <%= render "layouts/sidebar-nav-logout" %>
            <% end %>
          </div>
          <div class="d-none d-lg-block">
            <%= render "layouts/sidebar-userinfo" %>
          </div>
        </div>
      </div>
      <%= render "layouts/modallogout" %>
    </nav>
    <% end %>
  </body>
</html>
